fastapi
uvicorn
langchain
langgraph
langchain_community
PyPDF2
fastapi
pypdf
chromadb
langchain_core
langchain-chroma
langchain-text-splitters
langchain_anthropic
python-multipart
langchain-openai
langchain_google_genai
pandas
matplotlib
